profiles {
    singularity {
        singularity.enabled = true
        includeConfig 'docker.config'
    }
    docker {
        docker.enabled = true
        includeConfig 'docker.config'
    }
    workbench {
        docker.enabled = true
        executor = 'google-batch'
        includeConfig 'docker.config'
    }
}