profiles {
    conda {
        conda.enabled  = true
        includeConfig "config/conda.config"
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        includeConfig "config/docker.config"
    }
    'workbench' {
        process.executor = 'google-batch'
        process.container = 'staphb/fastqc'   // default container
        process.machineType = 'n2-standard-4'  // default container size

        // Only works if working on workbench. Only edit the username part. They will be then auto found via the wb command
        workDir = "${env('WORKBENCH_passdan')}/scratch"
        logsPath = "${env('WORKBENCH_passdan')}/logs"

        // Must match your VM's region
        google.location = 'us-central1'
        google.project = "${env('GOOGLE_CLOUD_PROJECT')}"

        google.batch.serviceAccountEmail = "${env('GOOGLE_SERVICE_ACCOUNT_EMAIL')}"
        google.batch.usePrivateAddress = true
        google.batch.network = 'global/networks/network'
        // Must match your VM's region
        google.batch.subnetwork = 'regions/us-central1/subnetworks/subnetwork'
    }
}

// NOTE: when launching from workbench via:
// wb nexflow run main.nf -profile google-batch
// It needs the containers defined in the nextflow.config (for reasons unknown - won't read a includeConfig call)

process {
    withName: FASTQC {
        container = "staphb/fastqc"
    }
    withName: FASTP {
        container = "staphb/fastp"
    }
    withName: SALMON_INDEX {
        container = "nanozoo/salmon"
    }
    
    withName: SALMON_QUANT {
        container = "nanozoo/salmon"
    }
}